name: Dart CI
on:
  push:
    branches: '**'
  pull_request:
    branches: '**'
    
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
  - uses: actions/checkout@v1
  - uses: actions/setup-java@v1
    with:
     java-version: '1.8.x'
  - uses: subosito/flutter-action@v1
    with:
      flutter-version: '2.5.3'
  - run: flutter pub get
  - run: flutter test
